body {
    background-image: linear-gradient(to bottom, transparent 0%, black 100%), url('/static/media/newhome.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    color: rgb(255, 255, 255);
    justify-content: left;
    font-size: 130%;
    /* background: linear-gradient( transparent 0%, black 3%); */
  }

  #loading {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: whitesmoke url('/static/media/spinner.gif') no-repeat center;
    z-index: 9999;
    opacity: 1;
    transition: opacity 0.5s; /* Add a transition for the opacity property */
}

.loaded #loading {
    opacity: 0;
    display: none; /* Hide the element after fading out */
}



  nav {
    background: rgba(31, 31, 31, 1);

  }

  nav ul li a {
    color: white;
  }

  .nav-link {
    /* font-weight: bolder; */
    color: white;
    font-family: Arial, Helvetica, sans-serif;
  }

  .head-txt {
    font-size: 210%;
    color: rgb(26, 149, 15);

  }

  footer {
    background: rgba(17, 17, 17, 1);

  }

  .footer-txt {
    color: white !important;
  }

  nav ul li a:hover {
    border-radius: 5px;
    background-color: rgb(29, 86, 44);

  }

  .home-30 {
    width: 30%;
  }

  .home-70 {
    width: 70%;
  }

  .home-images-1 {
    width: 17rem;
    height: 14rem;
    border-radius: 2px;
  }

  .home-images-2 {
    width: 17rem;
    height: 14rem;
    margin-left: 8rem;
    border-radius: 2px;
  }

  em {
    color: rgb(179, 190, 122);
  }

  .faq-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.faq-item {
    margin-bottom: 20px;
}

.faq-item h3 {
    font-size: 20px;
    color: whitesmoke;
    margin-bottom: 10px;
}

.faq-item p {
    font-size: 16px;
    color: #2adf39;
    line-height: 1.6;
}


  .bottom-border-txt {
    border-bottom: 4px solid green;

  }

  .atg-txt {
    color: rgb(80, 220, 82);
  }

  .text-color {
    color: rgb(80, 220, 82);
  }

  .center-vertically {
    display: flex;
    justify-content: center;
    align-items: center;

  }
.new_cards_adve {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px; 
}

  @media only screen and (max-width: 600px){


    html {
      font: small;
    }
    .advantages ul li {
      /* font-size: ; */
    }
    .advantages .col-12 {
    width: 100%; 
  }
    #email-id {
      margin-left: -100%;
    }
    #gif{
      width: 50%;
      height: 50%;
    }
    .custom-mobile-view{
      margin-top: 10px;
  margin-left: 5px;
    }
    .home-images-1 {
    width: 10rem;
    height: 8rem;
      
    border-radius: 2px;
    }
    .home-images-2 {
    width: 10rem;
    height: 8rem;
    border-radius: 2px;
    margin: 0 0 10px;
    }

    .welcoming-text {
      font-size: small;
    }
  }























