{% extends 'home.html' %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='\static\styles/aboutus.css') }}">

<style>
    .card-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px; 
    }
</style>
{% endblock head %}


{% block body %}
<div class="main-div">
    <div class="card-container">
        <!-- Card 1 -->
        <div class="card" style="width: 18rem;">
            <img src="https://m.media-amazon.com/images/I/71fAGmbjSmL._SY879_.jpg" class="card-img-top" widht="18px" alt="Farm Genie Net Pots">
            <div class="card-body">
                <h5 class="card-title">Farm Genie Net Pots | Net Cups | 3 inch | Pack of 25 | Hydroponics | Aeroponics | Aquaponics | Seedling Pot | Food Safe | Lead Free | Unbreakable | Long Lasting | Reusable</h5>
            </div>
            <div class="card-body">
                <p class="card-link"> 395 rs</p>
                <a href="https://www.amazon.in/dp/B09NW5D6X4?ref_=cm_sw_r_cso_wa_apan_dp_QT077WDSZRXFKA7AGGQJ&starsLeft=1" class="card-link"><button>Get Product</button></a>
            </div>
        </div>

        <!-- Card 2 -->
        <div class="card" style="width: 18rem;">
            <img src="https://m.media-amazon.com/images/I/610lEGfCTtL._SY879_.jpg" class="card-img-top" widht="18px" alt="24 Planter Vertical Hydroponic & Aeroponic Tower System">
            <div class="card-body">
                <h5 class="card-title">24 Planter Vertical Hydroponic & Aeroponic Tower System with Tds Meter, Seeds & Coco Disc - Perfect for Home Farming & Gardening</h5>
            </div>
            <div class="card-body">
                <p class="card-link">2,800 rs</p>
                <a href="https://www.amazon.in/dp/B0CPW516ZZ?ref_=cm_sw_r_cso_wa_apan_dp_PV6SAAHTQHXCDK0PAYDB&starsLeft=1" class="card-link"><button>Get Product</button></a>
            </div>
        </div>

        <!-- Card 3 -->
        <div class="card" style="width: 18rem;">
            <img src="https://m.media-amazon.com/images/I/31OlJ5A32WL._SX300_SY300_QL70_FMwebp_.jpg" class="card-img-top" widht="18px" alt="Nova 40-Planter Vertical Hydroponic & Aeroponics Tower System">
            <div class="card-body">
                <h5 class="card-title">Nova 40-Planter Vertical Hydroponic & Aeroponics Tower System with Seeds, Tds Meter & Coco Disc - Perfect for Home Farming & Gardening</h5>
            </div>
            <div class="card-body">
                <p class="card-link">3,650 rs</p>
                <a href="https://www.amazon.in/dp/B0CJTQGMY8?ref_=cm_sw_r_cso_wa_apan_dp_R4CHYTRFK6N7XS8QFF9P&starsLeft=1" class="card-link"><button>Get Product</button></a>
            </div>
        </div>

        <!-- Card 4 -->
        <div class="card" style="width: 18rem;">
            <img src="https://m.media-amazon.com/images/I/41SMWC4VN7L.jpg" class="card-img-top" widht="18px" alt="NFT Kit 64 Planter Hydroponic NFT Kit for Home/Outdoor (Green) Agro Lab">
            <div class="card-body">
                <h5 class="card-title">NFT Kit 64 Planter Hydroponic NFT Kit for Home/Outdoor (Green) Agro Lab</h5>
            </div>
            <div class="card-body">
                <p class="card-link">9850 rs</p>
                <a href="https://www.amazon.in/dp/B09K7FF1BB?ref_=cm_sw_r_cso_wa_apan_dp_2KYQ7XAWRPCZM6EANEW2&starsLeft=1&th=1" class="card-link"><button>Get Product</button></a>
            </div>
        </div>

        <!-- Card 5 -->
        <div class="card" style="width: 18rem;">
            <img src="https://m.media-amazon.com/images/I/41N67UK0BiL.jpg" class="card-img-top" widht="18px" alt="Agro Labs 80 Planter Hydroponic NFT Kit for Home/Outdoor Green">
            <div class="card-body">
                <h5 class="card-title">Agro Labs 80 Planter Hydroponic NFT Kit for Home/Outdoor Green</h5>
            </div>
            <div class="card-body">
                <p class="card-link">11,000rs</p>
                <a href="https://www.amazon.in/dp/B09WVPM1DH?ref_=cm_sw_r_cso_wa_apan_dp_XHA0VG7KEMBJ6EXDMCRB&starsLeft=1" class="card-link"><button>Get Product</button></a>
            </div>
        </div>

        <!-- Card 6 -->
        <div class="card" style="width: 18rem;">
            <img src="https://www.amazon.in/dp/B0C6PYLKW8?ref_=cm_sw_r_cso_wa_apan_dp_2YMH06C9P4HTNVZET440&starsLeft=1" class="card-img-top" widht="18px" alt="108 Planter Hydroponic, Aeroponics Tower System with Seeds, Tds Meter, Nutrients & Coco disc.(Hydroponic System Home)">
            <div class="card-body">
                <h5 class="card-title">108 Planter Hydroponic, Aeroponics Tower System with Seeds, Tds Meter, Nutrients & Coco disc.(Hydroponic System Home)</h5>
            </div>
            <div class="card-body">
                <p class="card-link">5,000rs</p>
                <a href="https://www.amazon.in/dp/B0C6PYLKW8?ref_=cm_sw_r_cso_wa_apan_dp_2YMH06C9P4HTNVZET440&starsLeft=1" class="card-link"><button>Get Product</button></a>
            </div>
        </div>

        <!-- Card 7 -->
        <div class="card" style="width: 18rem;">
            <img src="https://m.media-amazon.com/images/I/61fSsTVo1UL._SX679_.jpg" class="card-img-top" widht="18px" alt="Garden Genie Hydroponics Kit for Home">
            <div class="card-body">
                <h5 class="card-title">Garden Genie Hydroponics Kit for Home, Nutrient A & B 1 Liter, pH Up and Down Adjuster 100 ml Each, Root Power Liquid 100 ml with Measuring Cup, Suitable with All Types of Aeroponic Tower</h5>
            </div>
            <div class="card-body">
                <p class="card-link">300 rs</p>
                <a href="https://www.amazon.in/dp/B0BTW54QWT?ref_=cm_sw_r_cso_wa_apan_dp_25FV47PGQP3ZX69Q7Q7G&starsLeft=1" class="card-link"><button>Get Product</button></a>
            </div>
        </div>

        <!-- Card 8 -->
        <div class="card" style="width: 18rem;">
            <img src="https://m.media-amazon.com/images/I/31mdzTsDOdL.jpg" class="card-img-top" widht="18px" alt="Octa Garden by Green Tangents || Soilless Hydroponic/Aeroponic Vertical Garden|| Grow 32 Exotic Plants/leafies at Home in 2 * 2 sq ft || Hydroponic Kit for Home">
            <div class="card-body">
                <h5 class="card-title">Octa Garden by Green Tangents || Soilless Hydroponic/Aeroponic Vertical Garden|| Grow 32 Exotic Plants/leafies at Home in 2 * 2 sq ft || Hydroponic Kit for Home</h5>
            </div>
            <div class="card-body">
                <p class="card-link">rs</p>
                <a href="https://www.amazon.in/dp/B09QKZ8JWL?ref_=cm_sw_r_cso_wa_apan_dp_5MX5H3JA6PGTF46MJCM4&starsLeft=1" class="card-link"><button>Get Product</button></a>
            </div>
        </div>

        <!-- Card 9 -->
        <div class="card" style="width: 18rem;">
            <img src="https://m.media-amazon.com/images/I/41UAFas5qML.jpg" class="card-img-top" widht="18px" alt="BlueLeaves Farms Advanced Hydroponic Nutrition Solutions">
            <div class="card-body">
                <h5 class="card-title">BlueLeaves Farms Advanced Hydroponic Nutrition Solutions</h5>
            </div>
            <div class="card-body">
                <p class="card-link">700 rs</p>
                <a href="https://www.amazon.in/dp/B0C3XNBG1K?ref_=cm_sw_r_cso_wa_apan_dp_TT28BFHH3KV0Z4MEKSCM&starsLeft=1" class="card-link"><button>Get Product</button></a>
            </div>
        </div>

        <!-- Card 10 -->
        <div class="card" style="width: 18rem;">
            <img src="https://m.media-amazon.com/images/I/91x7-ORl-uL._SX679_.jpg" class="card-img-top" widht="18px" alt="WE Hydroponics Grow Cubes - 48 Cubes (Small Size) – 2.2 x 2 x 3.8cm Each Cube, Oasis Germination Cubes for soilless Farming">
            <div class="card-body">
                <h5 class="card-title">WE Hydroponics Grow Cubes - 48 Cubes (Small Size) – 2.2 x 2 x 3.8cm Each Cube, Oasis Germination Cubes for soilless Farming</h5>
            </div>
            <div class="card-body">
                <p class="card-link">200 rs</p>
                <a href="https://www.amazon.in/dp/B09J4WFKRX?ref_=cm_sw_r_cso_wa_apan_dp_P9QSESZGPJ7B7DA96QPW&starsLeft=1" class="card-link"><button>Get Product</button></a>
            </div>
        </div>
    </div>
</div>
{% endblock body %}