<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ASKAN</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"
    integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.min.js"></script>
  <title>Home</title>
  <style>
    body {
      background-image: linear-gradient(to bottom, transparent 0%, black 100%), url('/static/media/newhome.jpg');
      background-size: cover;
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-position: center;
      color: rgb(255, 255, 255);
      justify-content: left;
      font-size: 130%;
      /* background: linear-gradient( transparent 0%, black 3%); */
    }


    nav {
      background: rgba(31, 31, 31, 1);

    }

    nav ul li a {
      color: white;
    }

    .nav-link {
      /* font-weight: bolder; */
      color: white;
      font-family: Arial, Helvetica, sans-serif;
    }

    .head-txt {
      font-size: 210%;
      color: rgb(29, 86, 44);

    }

    footer {
      background: rgba(17, 17, 17, 1);

    }

    .footer-txt {
      color: white !important;
    }

    nav ul li a:hover {
      /* Define the styles you want to apply on hover */
      background-color: rgb(29, 86, 44);
      /* Change background color on hover */
      border-radius: 2px;
      /* Change text color on hover */
    }

    .home-30 {
      width: 30%;
    }

    .home-70 {
      width: 70%;
    }

    .home-images-1 {
      width: 17rem;
      height: 14rem;
      border-radius: 2px;
    }

    .home-images-2 {
      width: 17rem;
      height: 14rem;
      margin-left: 8rem;
      border-radius: 2px;
    }

    em {
      color: rgb(29, 86, 44);
    }

    .bottom-border-txt {
      border-bottom: 4px solid green;

    }

    .atg-txt {
      color: black;
    }

    .text-color {
      color: bisque;
    }

    .center-vertically {
      display: flex;
      justify-content: center;
      align-items: center;

    }

    @media only screen and (max-width: 600px){


      html {
        font: small;
      }
      .advantages ul li {
        /* font-size: ; */
      }
      .advantages .col-12 {
      width: 100%; 
    }
      #email-id {
        margin-left: -100%;
      }
      #gif{
        width: 50%;
        height: 50%;
      }
      .custom-mobile-view{
        margin-top: 10px;
    margin-left: 5px;
      }
      .home-images-1 {
      width: 10rem;
      height: 8rem;
        
      border-radius: 2px;
      }
      .home-images-2 {
      width: 10rem;
      height: 8rem;
      border-radius: 2px;
      margin: 0 0 10px;
      }
    }
  </style>

</head>

<body>

  <div class="loader"></div>
  <!-- Navbar -->
  <nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggleExternalContent2">
        <i class="fas fa-bars text-dark"></i>
      </button>
        <div class="collapse navbar-collapse custom-mobile-view " id="navbarToggleExternalContent2">
            <a class="navbar-brand mt-2 mt-lg-0" href="/aboutus">
                <img src="/static\media/logo.jpg" alt="logo" class="logo" style="border-radius: 50%;" height="40" />
            </a>
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="/home">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/activity">Activity</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/contactus">Contact Us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/crops_entry">Crops Entry</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Equipment_Management">Equipment Management</a>
                </li>
            </ul>
            <div class="profile">
                <a href="/profile"><button type="button" class="btn btn-outline-success">Profile</button></a>
            </div>
        </div>
    </div>
</nav>

<!-- Navbar -->
  <!-- Navbar -->
  {% block body %}



  <div class="container my-5 h-100">
    <div class="row justify-content-center">
      <div class="col-12 col-lg-6">
        <div class="home-30">
          <h1 class="mbr-section-title mbr-fonts-style mb-5 head-txt">ASKAN <a href="#" class="text-primary"
              style="color: white; text-decoration: none;"><em> HYDROPONICS</em></a></h1>
          <p class="mbr-text mbr-fonts-style display-7">
            A GOOD AGRICULTURE FOR A BETTER TOMORROW <br>
          </p>
        </div>
      </div>
      <div class="col-12 col-lg-6">
        <div class="home-70 my-4">
          <div class="row">
            <div class="col-12 col-md-6 order-md-1 order-2">
              <img class="home-images-1" src="/static/media/home_image1.jpeg" alt="image-1">
            </div>
            <div class="col-12 col-md-6 order-md-2 order-1">
              <img class="home-images-2" src="/static/media/homeimage2.webp" alt="image-1">
            </div>
          </div>
        </div>
      </div>
      
    </div>
  </div>
  </section>
  <div class="container">
    <div class="row justify-content-left">
      <div class="">
        <div class="text-wrapper ">
          <h1 class="mbr-section-title mbr-fonts-style align-left mb-3 display-5"><strong>Welcome to <span>ASKAN</span></strong></h1>
          <p class="mbr-text mbr-fonts-style align-left display-7">
            Are you ready to discover the future of agriculture? Look no further than hydroponic farming, the innovative
            and sustainable method of growing plants without soil. We are here to provide you with all the information
            you need to understand and embark on this exciting journey.

            What is Hydroponic Farming? Hydroponic farming is a revolutionary technique that allows plants to thrive in
            a controlled environment without the need for traditional soil-based cultivation. Instead, plants are grown
            in nutrient-rich water solutions, providing them with optimal conditions for growth and development. By
            harnessing this method, hydroponic farming offers numerous advantages over traditional farming methods.</p>
        </div>
      </div>
    </div>
  </div>
  </section>
  <hr>
  <section>
    <div class="container advantages">
      <div class="row justify-content-center">
        <h1 class="text-center border-bottom-green">
          <span class="bottom-border-txt">Advantages of Hydroponic Farming </span>
        </h1>
        <div class="col-12 my-5">
          <ul>
            <li>
              <em class="atg-txt">Water Conservation:</em> Hydroponic farming uses up to 90% less water compared to conventional agriculture, making it a highly efficient and sustainable option. By recirculating and reusing water, it significantly reduces water wastage.
            </li>
            <li>
              <em class="atg-txt">Space Efficiency:</em> Hydroponic systems can be set up vertically, maximizing the use of available space. This vertical arrangement allows for higher plant density and increased yield per square foot, making it ideal for urban areas or places with limited land.
            </li>
            <li>
              <em class="atg-txt">Year-round Production:</em> With hydroponics, you have the ability to grow crops all year long, regardless of the season or climate. By controlling the environment, including temperature, lighting, and humidity, you can create the perfect conditions for plant growth, ensuring a constant supply of fresh produce.
            </li>
            <li>
              <em class="atg-txt">Enhanced Nutrient Control:</em> Hydroponics enables precise control over the nutrients plants receive. By directly providing essential nutrients to the root system, plants can absorb them more efficiently, resulting in faster growth and healthier crops. This level of control also minimizes the use of chemical fertilizers.
            </li>
            <li>
              <em class="atg-txt">Reduced Pest and Disease Pressure:</em> Since hydroponic systems are typically enclosed, pests and diseases are less likely to affect your crops. By eliminating the need for pesticides and reducing the risk of contamination, hydroponic farming promotes cleaner and healthier food production.
            </li>
          </ul>
        </div>
        <div class="col-12 center-vertically">
          <iframe src="https://giphy.com/embed/OH9zWD6tKD9E5QL7Ru" width="480" height="406" frameborder="0" class="giphy-embed" allowfullscreen></iframe>
          <p><a href="https://giphy.com/gifs/plant-bean-growing-OH9zWD6tKD9W96eJTy" id="gif"></a></p>
        </div>
      </div>
    </div>
  </section>
  
  <hr>
  <section>
    <h1 class="justify-content-center align-items-center text-center "> <span class="bottom-border-txt">VIDEOS</span>
    </h1>

    <div class="videos d-flex justify-content-center align-items-center">


      <div class="card  mx-3 my-4" style="width: 20rem;">
        <iframe src="https://www.youtube.com/embed/ygGUe-q3cww" frameborder="0"
          allow="accelerometer; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

      </div>
      <div class="card mx-3" style="width: 20rem;">
        <iframe src="https://www.youtube.com/embed/LGF33NN4B8U" frameborder="0"
          allow="accelerometer; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

      </div>
      <div class="card mx-3" style="width: 20rem;">
        <iframe src="https://www.youtube.com/embed/OqREBOP7A0I" frameborder="0"
          allow="accelerometer; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

      </div>
    </div>
  </section>



  <hr>
  <section>
    <div>
      <h1 class="justify-content-center align-items-center text-center border-bottom-green"><span
          class="bottom-border-txt">How Does Hydroponic Farming Work?</span></h1>
      <h3 class="justify-content-center align-items-center text-center my-4">Hydroponic farming utilizes various methods
        and systems to cultivate plants. Some popular techniques include:</h3>

    </div>
    <div class="text my-5">
      <ul>
        <li><em class="text-color">Nutrient Film Technique (NFT): </em> In NFT systems, a thin film of nutrient-rich
          water flows continuously over the plant roots, providing essential nutrients while also allowing oxygen to
          reach them.</li>
        <li><em class="text-color">Deep Water Culture (DWC): </em> DWC involves suspending plant roots in oxygenated
          nutrient solutions. Air stones or diffusers are used to maintain adequate oxygen levels, promoting healthy
          root development.</li>
        <li><em class="text-color">Drip Irrigation: </em> Drip systems deliver nutrient solutions directly to the plant
          roots through a network of tubes and emitters. This method offers flexibility and precision in nutrient
          delivery.</li>
        <li><em class="text-color">Aeroponics: </em>Aeroponic systems mist the plant roots with a nutrient-rich
          solution, ensuring they receive ample nutrients and oxygen. This method allows for faster growth rates and
          efficient nutrient absorption.</li>

      </ul>
    </div>
  </section>

  <hr>
  <section>
    <div>
      <h1 class="justify-content-center align-items-center text-center border-bottom-green"><span
          class="bottom-border-txt">OUR MISSION</span></h1>

    </div>
  </section>
  <hr>
  <section>
    <div>
      <h1 class="justify-content-center align-items-center text-center border-bottom-green"><span
          class="bottom-border-txt">OUR VISION</span></h1>

    </div>
  </section>
  <hr>

  <section>
    <div>
      <h1 class="justify-content-center align-items-center text-center border-bottom-green"><span
          class="bottom-border-txt">WHY US</span></h1>

    </div>
  </section>
  {% endblock body %}

  <!-- Footer -->
  <footer class="text-center text-lg-start text-muted footer-text">
    <!-- Section: Social media -->
    <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
      <!-- Left -->
      <div class="me-5 d-none d-lg-block">
        <span style="color: white;">Get connected with us on social networks:</span>
      </div>
      <!-- Left -->

      <!-- Right -->
      <div>
        <a href="https://www.facebook.com" class="me-4 link-secondary">
          <i class="fab fa-facebook"></i>
        </a>
        <a href="https://twitter.com" class="me-4 link-secondary">
          <i class="fab fa-twitter"></i>
        </a>
        <a href="https://web.whatsapp.com" class="me-4 link-secondary">
          <i class="fab fa-whatsapp"></i>
        </a>
        <a href="https://www.instagram.com" class="me-4 link-secondary">
          <i class="fab fa-instagram"></i>
        </a>
        <a href="https://www.linkedin.com" class="me-4 link-secondary">
          <i class="fab fa-linkedin"></i>
        </a>


      </div>
      <!-- Right -->
    </section>
    <!-- Section: Social media -->

    <!-- Section: Links  -->
    <section class="">
      <div class="container text-center text-md-start mt-5">
        <!-- Grid row -->
        <div class="row mt-3" style="color: white;">
          <!-- Grid column -->
          <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
            <!-- Content -->
            <h5 class="text-uppercase fw-bold mb-4" style="color: rgb(1, 88, 1) !important;">
              <i class="fas fa-gem me-3 text-secondary"></i>ASKAN - HYDROPONICS
            </h5>
            <p>
              WE'RE NOT JUST A COMPANY; WE'RE LEADING AGRICULTURAL INNOVATION IN INDIA, COMMITTED TO EMPOWERING FARMERS
              AND SHAPING THE FUTURE OF AGRICULTURE.
            </p>
          </div>
          <!-- Grid column -->
          <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
            <!-- Links -->
            <h5 class="text-uppercase fw-bold mb-4" style="color: rgb(1, 88, 1);">
              Useful links
            </h5>
            <p>
              <a href="#!" class="text-reset">Products</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Settings</a>
            </p>

          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4" style="width: 35%;">
            <!-- Links -->
            <h5 class="text-uppercase fw-bold mb-4" style="color: rgb(1, 88, 1);">Contact</h5>
            <i class="fas fa-home me-3 text-secondary"></i>
            <p> Pune ,India</p>
            <i class="fas fa-envelope me-3 text-secondary"></i> 
            <p id="email-id">askan.hydroponics2023@gmail.com</p>
            <i class="fas fa-phone me-3 text-secondary"></i> 
            <p>+919834778695</p>
            <i class="fas fa-phone me-3 text-secondary"></i> 
            <p>+919834778695</p>
          </div>
          <!-- Grid column -->
        </div>
        <!-- Grid row -->
      </div>
    </section>
    <!-- Section: Links  -->

    <!-- Copyright -->
    <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.025); color: white;">
      © 2023 Copyright
    </div>
    <!-- Copyright -->
  </footer>
  <!-- Footer -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.min.js" integrity="sha384-9th9z93L28oflHeHJJxj8G9HnT/mJPzxo1TmsFz5Xf3ddA5v7tQULMZQXmaY5z00"
  crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.min.js"></script>
</body>

</html>